ol {
  padding-left: 4em;
}

#live-label {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5em;
  color: white;
  text-shadow: -1px 1px 2px rgb(0,0,0);
  text-align: center;
  pointer-events: none;
}

#ARButton {
  color: black !important;
  width: 10em !important;
  font-size: 4em !important;
  padding: 0.5em !important;
  left: calc(50% - 5em) !important;
}
